# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df = pd.read_csv (r'weather_Data.csv')
df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Country,Date,Cloudiness
0,0,charcas,23.1333,-101.1167,280.07,68,3.95,MX,1644811710,99
1,1,hobart,-42.8794,147.3294,293.33,61,4.63,AU,1644811710,75
2,2,lavrentiya,65.5833,-171.0000,243.57,93,2.31,RU,1644811711,12
3,3,rikitea,-23.1203,-134.9692,299.21,71,6.29,PF,1644811711,2
4,4,necochea,-38.5473,-58.7368,286.50,55,3.58,AR,1644811712,0
...,...,...,...,...,...,...,...,...,...,...
557,557,chokwe,-24.5333,32.9833,294.19,95,1.92,MZ,1644812626,9
558,558,mehran,33.1222,46.1646,282.86,47,0.50,IR,1644812626,0
559,559,champerico,14.3000,-91.9167,299.27,72,1.68,GT,1644812626,4
560,560,podgorica,42.4411,19.2636,273.03,100,1.54,ME,1644812627,87
561,561,pochutla,15.7432,-96.4661,298.05,54,1.77,MX,1644812627,52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Store latitude and longitude in locations
locations = df[["Lat", "Lng"]]

# Fill NaN values and convert to float
#rating = df["Airport Rating"].astype(float)
locations

         Lat       Lng
0    23.1333 -101.1167
1   -42.8794  147.3294
2    65.5833 -171.0000
3   -23.1203 -134.9692
4   -38.5473  -58.7368
..       ...       ...
557 -24.5333   32.9833
558  33.1222   46.1646
559  14.3000  -91.9167
560  42.4411   19.2636
561  15.7432  -96.4661

[562 rows x 2 columns]

In [8]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

NameError: name 'rating' is not defined

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [55]:
new_df = df[(df["Max Temp"]<300) & (df["Max Temp"]>250)]
# new_df = df[df["Wind Speed"]<10]
# new_df = df[df["Cloudiness"] == 0]
new_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Country,Date,Cloudiness
0,0,charcas,23.1333,-101.1167,280.07,68,3.95,MX,1644811710,99
1,1,hobart,-42.8794,147.3294,293.33,61,4.63,AU,1644811710,75
3,3,rikitea,-23.1203,-134.9692,299.21,71,6.29,PF,1644811711,2
4,4,necochea,-38.5473,-58.7368,286.50,55,3.58,AR,1644811712,0
6,6,burnie,-41.0667,145.9167,295.90,63,4.75,AU,1644811712,99
...,...,...,...,...,...,...,...,...,...,...
557,557,chokwe,-24.5333,32.9833,294.19,95,1.92,MZ,1644812626,9
558,558,mehran,33.1222,46.1646,282.86,47,0.50,IR,1644812626,0
559,559,champerico,14.3000,-91.9167,299.27,72,1.68,GT,1644812626,4
560,560,podgorica,42.4411,19.2636,273.03,100,1.54,ME,1644812627,87
561,561,pochutla,15.7432,-96.4661,298.05,54,1.77,MX,1644812627,52

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [3]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure